@import 'bootstrap/mixins';
@import 'bootstrap/variables';
@import 'variables';
@import 'mixins';

#home-index{
  main{
    @include gradient-vertical(lighten($cyan,50), lighten($cyan,20)) ;
    height:1000px;
  }

  .welcome{
    @include main-container();
  }
}